body {
    height: 100vh;
    margin: 0;
}

.background_image::before {
    box-sizing: border-box;
    position: absolute;
    background-image: url("images/photo-1499346030926-9a72daac6c63.jpeg");
    content: '';
    height: 100vh;
    width: 100vw;
    display: block;
    opacity: .4;
    z-index: -1;
}

.header {
    height: 20vh;
    font-family: Helvetica;
    position: relative;
}

.titleBox {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.gameTitle {
    text-align: center;
    font-size: 2.8em;
}

.settingsBox {
    width: 20%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.settings,
.about {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    position: relative;
    width: 48%;
    top: 20%;
}

.stats {
    width: 15%;
    height: 80vh;
    float: left;
}

.games_played,
.attempts,
.matches,
.accuracy {
    height: 15%;
    text-align: center;
    font-family: Helvetica;
}

.reset {
    height: 5%;
    text-align: center;
    text-decoration: underline;
    font-family: Helvetica;
}

.gameArea {
    width: 85%;
    height: 80vh;
    float: left;
    position: relative;
}

.bigContainer {
    width: 95%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
}

.cardContainer {
    height: 33.33%;
    width: 16.667%;
    display: inline-block;
    position: relative;
}

.card {
    height: 95%;
    width: 75%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
}

.front img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.back {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    background-image: url("images/icons8-airport-100.png");
    background-size: cover;
    background-position: center;
}